<%= provide(:page_title, "About") %>
<h1>About</h1>

<p>Event Manager is a platform that allows users to create, manage, and sign up for events. It is another project intended to build and showcase my skills in Ruby on Rails. With that in mind, there is more emphasis on functionality than visual polish, although I may come back to this in the future. Features such as administrator access would also need to be added. For now, if you want a better idea of my CSS skills, please see my portfolio at <a href="http://markdking.me">http://markdking.me</a> or some of my other web apps in <a href="https://github.com/gute73">GitHub</a>.</p>
