<%= provide(:page_title, "Home") %>
<h1 class='center'>Upcoming Events</h1>

<% if logged_in? %>
	<div class='create-event'>
		<%= link_to "Create an event", new_event_path %>
	</div>
<% end %>
<br>
<% if @upcoming_event_feed.any? %>
	<ol class='events'>
		<%= render @upcoming_event_feed %>
	</ol>
	<%= will_paginate @upcoming_event_feed %>
<% else %>
	<br>
	<p class='no-events'>No upcoming events!</p>
<% end %>